@import "normalize.less";

body,
html {
    font-size: 20px;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    width: 100%;
}

header {
    padding: 12px 0px 8px 0px;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    transition: all .5s ease;

    &.scroll {
        background-color: #fff;
        box-shadow: 0 0 50px 0 rgba(28, 15, 125, 0.05);
    }

    .logo {
        width: 130px;
        height: auto;
        display: inline-block;
        transition: all .5s ease;

        &>img {
            width: 100%;
        }
    }

    nav {
        padding: 0 64px;
        ul {
            float: right;
            display: flex;

            li {
                margin-left: 12px;
            }
        }
    }
}

.section-top {
    background: linear-gradient(to bottom, #fff, #eff1fb);
    position: relative;
    overflow: hidden;
    height: calc(100vh - 50px);
    width: 100vw;
    display: flex;
    flex-direction: row;

    .section-top__crop {
        bottom: -1px;
        height: auto;
        position: absolute;
        width: 100%;
    }
}

.section-top__picture {
    width: 63%;
    display: inline-flex;
    position: relative;

    figure {
        height: 100%;
        width: 100%;
        top: 4%;
        float: right;
        position: absolute;
    }

    img {
        object-fit: cover;
        height: 100%;
        width: 104%;
        display: none;

        &.visible {
            display: block;
        }
    }
}

.section-top__text {
    display: inline-flex;
    flex-direction: column;
    width: 37%;
    max-width: 560px;
    padding: 24px 12px 24px 68px;
    justify-content: center;

    .text-title {
        font-size: 1.2rem;
        color: #8675ff;

        &>h1 {
            margin: 24px 0;
            font-weight: 300;
        }
    }

    .text-description {
        font-size: 1.2rem;

        &>p {
            line-height: 1.7rem;
            font-weight: 300;
        }
    }
}

.section-middle {
    max-width: 100%;
    margin: 145px auto 0 auto;
}

.ghost {
    display: none;

    &.fixed.outside {
        display: block;
        position: static !important;
        visibility: hidden;
    }

    &>* {
        text-indent: -99999;
        color: transparent;
    }
}

.content-navigation {
    &.fixed.outside {
        z-index: 1;
        position: fixed;
        top: 0;
        width: 100%;

        .content-navigation__menu {
            -webkit-transition: all linear 0.25s;
            -moz-transition: all linear 0.25s;
            -o-transition: all linear 0.25s;
            transition: all linear 0.25s;
            opacity: 1;
        }
    }

    .content-navigation__menu {
        padding: 0;
        margin: 68px 0 0 0;
        list-style: none;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.01));


        &>.menu__item {
            padding: 5px;
            text-align: center;
            font-size: 66px;
            opacity: 1;

            &.deactive {
                opacity: .3;
            }

            & * {
                margin: 0;
            }
        }
    }
}

.section-middle__content {
    width: 640px;
    margin: 0 auto;
    padding-top: 220px;

    .monitor,
    .monitor2,
    .monitor3 {
        margin: 0 auto;
        width: 640px;
        height: 440px;
        background-color: silver;
        border: 4px solid black;

        &.fixed.outside {
            position: fixed;
            top: 232px;

            &+.monitor_ghost {
                background: transparent;
                width: 640px;
                height: 448px;
            }
        }

        &.hidden {
            display: none;
        }

        &.leave {
            display: none;

            &.start {
                display: block;
            }
        }

        .monitor__content {
            position: relative;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
    }

    .content,
    .content2,
    .content3 {
        width: 620px;
        height: 440px;
        background-color: orange;
        position: fixed;
        left: 50%;
        margin-left: -307px;
        bottom: -500px;

        &.content_1 {
            &.hidden {
                display: none;
            }
        }
    }

    .content-description,
    .content2-description,
    .content3-description {
        position: absolute;
        padding-left: 40px;
        left: 0;
        bottom: -11000px;

        &.fixed.outside {
            position: fixed;
            top: 232px;
        }

        &.hidden {
            position: absolute;
            top: auto;
            bottom: 0 !important;
            left: -300px;
            width: 200px;
        }

        ul {
            padding: 0;

            >li {
                margin-bottom: 20px;
                list-style: none;
            }
        }
    }
}


.content-form {
    position: relative;
    height: 764px;

    .monitor4 {
        z-index: -1;
        display: none;
        margin: 0 auto;
        width: 632px;
        height: 432px;
        background-color: silver;
        border: 4px solid black;
        position: fixed;
        bottom: 60px;
        left: calc(50% - 320px);
        -webkit-transition: left linear 0.45s;
        -moz-transition: left linear 0.45s;
        -o-transition: left linear 0.45s;
        transition: left linear 0.45s;
    
        &.fixed.outside {
            position: fixed;
            top: 232px;
    
            &+.monitor_ghost {
                background: transparent;
                width: 640px;
                height: 448px;
            }
        }
    
        &.leave {
            display: block;
    
            &.start {
                display: none;
            }
        }
    
        &.left {
            left: 0;
            margin-left: 0;
        }
    
        &.absolute {
            position: absolute;
        }
    
        .monitor__content {
            position: relative;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
    }
}

.form {
    width: 632px;
    height: 760px;
    float: right;
    background-color: silver;
    border: 4px solid black;
    -webkit-transition: all linear 0.45s;
    -moz-transition: all linear 0.45s;
    -o-transition: all linear 0.45s;
    transition: all linear 0.45s;
}

footer {
    padding: 48px 12px;
    background: #f9f1f1;
}

#pinContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

#slideContainer {
    width: 400%;
    /* to contain 4 panels, each with 100% of window width */
    height: 100%;
}

.panel {
    height: 100%;
    width: 25%;
    /* relative to parent -> 25% of 400% = 100% of window width */
    float: left;

    &.blue {
        background-color: blue;
    }

    &.turqoise {
        background-color: violet;
    }

    &.green {
        background-color: green;
    }

    &.bordeaux {
        background-color: orange;
    }
}