/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
     * ========================================================================== */
/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Edge, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
     * ========================================================================== */
/**
     * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
     */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}
/**
     * Remove the margin on nested lists in Edge 18- and IE.
     */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}
/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge 18- and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
     * Add the correct display in IE.
     */
main {
  display: block;
}
/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
     * ========================================================================== */
/**
     * Remove the gray background on active links in IE 10.
     */
a {
  background-color: transparent;
}
/**
     * Add the correct text decoration in Edge 18-, IE, and Safari.
     */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}
/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}
/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}
/* Embedded content
     * ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}
/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
     * Remove the border on images within links in IE 10-.
     */
figure {
  margin: 0;
}
img {
  border-style: none;
}
/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
     * ========================================================================== */
/**
     * Remove the margin on controls in Safari.
     */
button,
input,
select {
  margin: 0;
}
/**
     * 1. Show the overflow in IE.
     * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
     */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}
/**
     * Correct the inability to style buttons in iOS and Safari.
     */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
     * Show the overflow in Edge 18- and IE.
     */
input {
  overflow: visible;
}
/**
     * 1. Correct the text wrapping in Edge 18- and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
}
/**
     * 1. Add the correct display in Edge 18- and IE.
     * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
     * Remove the inheritance of text transform in Firefox.
     */
select {
  text-transform: none;
}
/**
     * 1. Remove the margin in Firefox and Safari.
     * 2. Remove the default vertical scrollbar in IE.
     */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
}
/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
     * 1. Correct the odd appearance in Chrome, Edge, and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
     * Correct the cursor style of increment and decrement buttons in Safari.
     */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/**
     * Correct the text style of placeholders in Chrome, Edge, and Safari.
     */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
     * Remove the inner padding in Chrome, Edge, and Safari on macOS.
     */
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
     * 1. Correct the inability to style upload buttons in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/**
     * Remove the inner border and padding of focus outlines in Firefox.
     */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
     * Restore the focus outline styles unset by the previous rule in Firefox.
     */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
     * Remove the additional :invalid styles in Firefox.
     */
:-moz-ui-invalid {
  box-shadow: none;
}
/* Interactive
     * ========================================================================== */
/*
     * Add the correct display in Edge 18- and IE.
     */
details {
  display: block;
}
/*
     * Add the correct styles in Edge 18-, IE, and Safari.
     */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
dialog:not([open]) {
  display: none;
}
/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}
/* Scripting
     * ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}
/**
     * Add the correct display in IE.
     */
template {
  display: none;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
}
.container {
  width: 100%;
}
.section-top {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.section-top figure {
  height: 100%;
}
.section-top img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: none;
}
.section-top img.visible {
  display: block;
}
.section-middle {
  height: 850px;
  background: red;
}
.auto-rotate {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 20000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 20000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 20000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 20000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.round-wrapper {
  position: absolute;
  width: 240px;
  height: 240px;
  left: calc(-70%);
  top: calc(-70%);
}
.round-slider {
  display: grid;
  position: relative;
  width: 250px;
  height: 250px;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
  cursor: pointer;
}
.round-slider::after {
  content: '';
  position: absolute;
  width: 226px;
  height: 226px;
  border: 1px solid white;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
}
.round-slider .selection {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  align-self: center;
  pointer-events: none;
  /* clip-path: polygon(value% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%); */
}
.round-slider .selection .item {
  display: block;
  content: "";
  width: 3px;
  height: calc(45%);
  position: absolute;
  left: calc(49%);
  transform-origin: 1px 100%;
  transform: rotate(0deg);
}
.round-slider .selection .item::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  right: -15px;
  background-color: white;
}
.round-slider .holder {
  width: 110px;
  height: 110px;
  background: #ffffff;
  border-radius: 50%;
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  align-self: center;
  pointer-events: none;
  z-index: 2;
  text-align: center;
  line-height: 110px;
  font-size: 2em;
  box-shadow: 0px 0px 4px 2px #00ccf8;
}
