@import "normalize.less";

body {
	margin: 0;
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    width: 100%;
}

.section-top {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    figure {
        height: 100%;
    }

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        display: none;
        &.visible {
            display: block;
        }
    }
}

.auto-rotate {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 20000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 20000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 20000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.round-wrapper{
    position: absolute;
    width: 240px;
    height: 240px;
    left: calc(50% - 150px);
    top: calc(50% - 120px);
}

.round-slider {
	display: grid;
	position: relative;
	width: 250px;
    height: 250px;
    //border: 1px solid white;
	justify-self: center;
	align-self: center;
	border-radius: 50%;
    cursor: pointer;
    
    &::after{
        content: '';
        position: absolute;
        width: 226px;
        height: 226px;
        border: 1px solid white;
        justify-self: center;
        align-self: center;
        border-radius: 50%;
    }
}
.round-slider .selection {
	width: 240px;
	height: 240px;
	border-radius: 50%;
	//border: 1px solid white;
	grid-row: 1;
	grid-column: 1;
	justify-self: center;
	align-self: center;
	pointer-events: none;
	/* clip-path: polygon(value% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%); */
}
.round-slider .selection .item {
	display: block;
	content: "";
	width: 3px;
	height: calc(50% - 5px);
	//background-color: red;
	position: absolute;
	left: calc(50% - 1px);
	transform-origin: 1px 100%;
    transform: rotate(0deg);
    
    &::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        right: -15px;
        background-color: white; 
    }
}
.round-slider .holder {
	width: 110px;
	height: 110px;
	background: rgba(255, 255, 255, 1);
	border-radius: 50%;
	grid-row: 1;
	grid-column: 1;
	justify-self: center;
	align-self: center;
	pointer-events: none;
	z-index: 2;
	text-align: center;
	line-height: 110px;
	font-size: 2em;
	box-shadow: 0px 0px 4px 2px #00ccf8;
}

.section-top__text {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 310px;
    padding: 24px;

    .title {
        font-size: 36px; 
    }

    .description {
        position: absolute;
        bottom: 0;
        font-size: 24px;
        padding-bottom: 48px; 
        > p {
            line-height: 34px;
            font-weight: 300;
        }
    }
}

.section-middle {
    max-width: 86%;
    margin: 0 auto;
    height: 2500px;
}

.content-navigation {
    &.fixed.outside {
       margin-top: 170px;
        .content-navigation__menu {
            position: fixed;
            top: 0;
            width: 86%;
        }
    }
    .content-navigation__menu {
        padding: 0;
        margin: 48px 0 0 0;
        list-style: none;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
        & > .menu__item {
            padding: 5px;
            text-align: center;
            font-size: 66px;
            opacity: 1;
            &.deactive {
                opacity: .3;
            }

            & * {
                margin: 0;
            } 
        }
    }
}

.divider {
    height: 800px;
    &.divider_s {
        height: 240px;
    }
}


.section-middle__content {
    width: 640px;
    margin: 0 auto;
    .monitor {
        margin: 0 auto;
        width: 640px;
        height: 440px;
        background-color: silver;
        border: 4px solid black;
        &.fixed.outside {
            position: fixed;
            top: 232px;
            & + .monitor_ghost{
                background: transparent;
                width: 640px;
                height: 448px;
            }
        }
    }
    
    .content {
        width: 620px;
        height: 440px;
        background-color: orange; 
        position: fixed;
        left: 50%;
        margin-left: -307px;
        bottom: -500px;
            &.content_1 {
                &.hidden {
                    display: none;
                }
            }
    }

    .content-description {
        position: absolute;
        padding-left: 40px; 
        left: 0;
        bottom: -1000px;
        &.fixed.outside {
            position: fixed;
            top: 232px;
        }
        
        ul {
            padding: 0;
            > li {
                margin-bottom: 20px;
                list-style: none;
            }
        }
    }
}

